{% extends 'base.html' %}
{% block title %}Link Analytics{% endblock title %}
{% block content %}
{% if current_user.is_authenticated %}
  {% if link %}
    <section class="container analytics-container">
      <div class="card analytics-card">
        <div class="card-body">
          <img class="card-qrcode" src="{{ url_for('generate_qr_code_link', short_link=link.short_link) }}" alt="QR Code">
          <br>
          <a href="{{ url_for('generate_qr_code_link', short_link=link.short_link) }}" download="qrcode image">
            <button class="button">Download QR Code</button>
          </a>
          <hr>
          <small>
            Created: {{link.created_at.strftime('%B %d, %Y')}} || Clicks: {{link.clicks}}
          </small>
          <p>
            Original Link: <br>
            <a href="{{link.long_link}}" target="_blank">{{link.long_link}}</a>
          </p>
          <p>
            Shortened Link: <br>
            <a href="{{url_for('redirect_link', short_link=link.short_link)}}" target="_blank">{{host}}{{link.short_link}}</a>
          </p>
          <a href="{{ url_for('update', short_link=link.short_link) }}">
            <button class="button">Edit Link</button>
          </a>
          <a href="{{ url_for('delete', short_link=link.short_link) }}">
            <button class="button">Delete Link</button>
          </a>
        </div>
      </div>
  {% else %}
    <small>
      This link does not exist (yet). <a href="{{url_for('index')}}">Create One</a>
    </small>
  {% endif %}
{% else %}
  <small>
    <a href="{{url_for('login')}}">Log in</a> to see link stats
  </small>
{% endif %}
{% endblock content %}